[2017-04-25 13:43] timusus opened #1 "Don't show subtitle when text is null/empty"
Currently, if the subtitle text is empty/null, it shows up as "testing".

It would be great if the subtitle was hidden, and this just acted like a regular `CollapsingToolbarLayout` when the subtitle text is empty/null.

[2017-04-25 14:09] HendraAnggrian commented on #1
@timusus my bad, I have uploaded version 0.3.1 that should behave exactly like what you have described, let me know if it's not.

And I just wanna say I love your `recyclerview-fastscroll`!

[2017-04-25 14:12] timusus commented on #1
Wow, that was quick! Good work, I'll be sure to check it out tomorrow.

Open source is great, isn't it?!

[2017-04-26 07:55] #1 closed

[2017-04-26 08:00] timusus opened #3 "When not displaying subtitle, collapsed title is not vertically centered"
The collapsed title sits maybe 8dp too low:

![screenshot_20170426-175712](https://cloud.githubusercontent.com/assets/4422616/25424041/39ab795c-2aaa-11e7-8c39-69cd285c7305.png)

[2017-04-26 10:50] timusus commented on #3
Resolved with 533f60d

[2017-05-07 06:57] michael-snow opened #4 "expandedTitleGravity="center_horizontal" not working."
xml:

`   <android.support.design.widget.AppBarLayout
        android:id="@+id/app_bar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:fitsSystemWindows="true"
        android:theme="@style/AppTheme.AppBarOverlay">

        <android.support.design.widget.SubtitleCollapsingToolbarLayout
            android:id="@+id/toolbar_layout"

[2017-05-07 08:41] HendraAnggrian commented on #4
@michael-snow thank you for the report. I'm currently doing some major code cleanup now and will fix this issue afterwards. Might take several days, but will let you know again when it's fixed, so hang in there.

[2017-05-07 21:46] HendraAnggrian commented on #4
Version 0.4.1 is out, it now supports `center_horizontal` gravity, but unfortunately not much else.
I will need couple of days to test the remaining gravity.

[2017-05-08 20:02] michael-snow commented on #4
Hi. thank you. its works. but expandedTitleGravity="center_horizontal" does not apply to subtitle. And app:expandedTitleMarginTop not works correctly
subtitle gravity screenshot
[http://2.1m.yt/phH0J0I.png](url)

[2017-05-10 11:40] MeinLieberScholli opened #5 "ellipsize Subtitle"
Hi,
is it somehow possible to ellipsize the subtitle?
I've already tried it using TextAppearance, but it's not working. So i assume you are not using TextView...

[2017-05-10 11:50] HendraAnggrian commented on #4
Hello, you're right about that. Currently, the x point of subtitle mirrors the x point of the title. I'm planning to fix it in next release, but again, that could take several days.

Anyway, can you please explain about `app:expandedTitleMarginTop` being unable to work properly? The image url seem to be invalid.

[2017-05-10 11:55] HendraAnggrian commented on #5
Hello there. Like the title itself, the subtitle is not a `TextView`. They are `CharSequence`s drawn using `Canvas`. But you're right I seem to skip the part where I had to ellipsize the subtitle. Let me work on that and thank you for the notice.

[2017-05-10 13:05] HendraAnggrian commented on #5
Hey again, I have uploaded version 0.4.2 specifically for subtitle ellipsizing, mimicking the logic of title. Please check if it is working in your case and thank you very much for pointing out the issue.

[2017-05-10 21:10] MeinLieberScholli commented on #5
Almost perfect. There is just some padding missing. I suppose 16dp should be enough.
![screenshot_20170510-225533](https://cloud.githubusercontent.com/assets/9082911/25921114/88ea8f5a-35d4-11e7-9ad6-25fac5e43d53.png)
![screenshot_20170510-225545](https://cloud.githubusercontent.com/assets/9082911/25921115/88eb8a72-35d4-11e7-9f02-19b839bc435a.png)

[2017-05-12 04:53] HendraAnggrian commented on #5
@MeinLieberScholli As you have already discovered, neither the subtitle or the title has a padding. Unfortunately, so is the standard `CollapsingToolbarLayout`.

#### CollapsingToolbarLayout
![screenshot_1494523501](https://cloud.githubusercontent.com/assets/11507430/25963010/0bb5fbc4-36aa-11e7-83fb-968f1ec7cba1.png)

#### SubtitleCollapsingToolbarLayout
![screenshot_1494523571](https://cloud.gith

[2017-05-12 06:35] hitesh-dhamshaniya opened #6 "Change SubTitle text Color progrmmatically"
We can change the setExpandedTitleColor & setCollapsedTitleColor but this is not affecting to subTile.

I've applied text color in style and applied that style like this :

` app:expandedSubtitleTextAppearance="@style/TextAppearance.AppCompat.Body1.Color"`

This worked fine, but I want to change its color dynamically  like we do for tile as :

`setExpandedTitleColor(textSwatch.getTitleTextColor())

[2017-05-12 07:44] HendraAnggrian commented on #6
@hitesh-dhamshaniya My bad, this feels like something that should be there in the first place. Version 0.4.3 is out to support this, please try it :)

[2017-05-12 08:51] MeinLieberScholli commented on #5
I didn't know that^^ I was just comparing it to the regular AppBarLayout.
![screenshot_20170512-101606](https://cloud.githubusercontent.com/assets/9082911/25989888/13dfead6-36fe-11e7-9cc1-825c0c6e2f97.png)
![image](https://cloud.githubusercontent.com/assets/9082911/25989915/2543a86c-36fe-11e7-83d7-b15b6110d450.png)
In my opinion, it's a clear violation of the material design guide. It wouldn't be

[2017-05-12 10:01] HendraAnggrian commented on #5
@MeinLieberScholli I can see your point, but I can't make it the default behavior, mainly because 'CollapsingToolbarLayout' has not yet also use this padding.

So I released version 0.4.4 to enable this padding **only when attr `useCompatPadding` is enabled (or by programatically) and no menu item is visible**. When a menu item is present and visible, I think it's their responsibility to apply the

[2017-05-12 11:08] hitesh-dhamshaniya commented on #6
Thanks @HendraAnggrian for a quick solution. It's working fine now.

[2017-05-12 11:09] HendraAnggrian commented on #6
Cool :) let me know if you have another concern.

[2017-05-12 11:09] #6 closed

[2017-05-12 12:09] HendraAnggrian commented on #4
@michael-snow Version 0.4.5 is out to specifically address this issue. Title and subtitle now has separate x points for text centering with `center_horizontal` gravity. It should also support other gravities but too be honest I'm too lazy to test them all.

[2017-05-12 17:57] michael-snow commented on #4
great thanks. its works Version 0.4.6

[2017-05-13 08:58] #4 closed

[2017-05-13 08:58] #5 closed

[2017-05-13 11:30] liqian685 opened #7 "Hide subTitle when the layout collapsed"
Can I hide the subtitle When the layout collapsed?

[2017-05-15 08:31] HendraAnggrian commented on #7
@liqian685 hi there, currently you cannot.

But correct me if I'm wrong on this: this library exists because we want the subtitle to be animated and part of the `Toolbar`. If you don't require the subtitle to be there with the `Toolbar` when it is collapsed, you can just put a `TextView` inside `CollapsingToolbarLayout`:

[code]

What do you think?

[2017-05-16 15:01] liqian685 commented on #7
@HendraAnggrian

[2017-05-21 09:53] hitesh-dhamshaniya opened #8 "Title not sits bottom when not set SubTitle."
Hello there,

I am setting up sub title only when there will be long string for title, but I when there is no sub title title remain in Vertically center instead of sit in bottom.

[2017-05-22 13:26] HendraAnggrian commented on #8
@hitesh-dhamshaniya hello, here's a SubtitleCollapsingToolbarLayout with a long title, no subtitle, and default gravity:

![screenshot_1495459385](https://cloud.githubusercontent.com/assets/11507430/26310885/a213d7fa-3f2c-11e7-99cf-6dc822fe2c51.png)

Clearly, I am unable to recreate the irregularities you have mentioned. Would you mind share a bit of code and screenshot? Also, what version are you

[2017-05-28 06:21] hitesh-dhamshaniya commented on #8
Thank you very much @HendraAnggrian for your prompt replay.
I don't know what was a problem but It's resolve now.

[2017-05-28 22:59] HendraAnggrian commented on #8
Sounds great! Feel free to reopen this issue if by any chance it happens again.

[2017-05-28 22:59] #8 closed

[2017-07-13 07:40] linotex opened #9 "Set subtitle typeface methods not found"
Can I set subtitle typeface?

Thank you!

[2017-07-13 07:45] HendraAnggrian commented on #9
@linotex you're right I seem to miss that part. I'll work on it and will update this thread again. In the meantime, you can set subtitle text appearance.

[2017-07-13 07:56] linotex commented on #9
Thank you! I will waiting

[2017-07-18 08:52] HendraAnggrian commented on #9
Hi @linotex, thanks for waiting. You can now customize collapsed/expanded subtitle typeface with version 0.7.0. Please try it and let me know how it goes.

[2017-07-26 10:37] linotex commented on #9
Hi @HendraAnggrian! I have tried and it's work properly. Thank you very much.

[2017-07-26 10:37] #9 closed

[2017-07-26 12:29] HendraAnggrian commented on #9
Cheers! Let me know if you find another one.

[2017-08-13 12:41] karmil32 opened #10 "Toolbar menu icons issue"
Hello.
First of all - thanks for great library!
Today, after upgrade this lib to new version I noticed a issue with toolbar icons.
These icons are not vertically centered in toolbar.
Heres example how it looks in my app:
https://www.dropbox.com/s/obqtbmfxh1bd3rr/toolbar_issue.PNG?dl=0
https://www.dropbox.com/s/8ujbzprix420t1q/toolbar_issue2.PNG?dl=0

When I use native CollapsingToolbarLayout every

[2017-08-14 00:43] HendraAnggrian commented on #10
Hi @karmil32. Thanks for the detailed report! I'll see what I can do in next couple days.

Anyway, I'm sorry if this issue isn't there on previous version. Porting this lib to Kotlin is essentially rewroting most of its components, opening up possibility to larger bugs and inconsistencies.

[2017-08-14 07:51] timusus opened #11 "Library no longer available in Java"
I would recommend that the Kotlin version of this library be hosted under a separate branch - although I love Kotlin, it's a pretty heavy duty dependency if a Java only Android app wants to use the library.

Obviously this comes with extra maintenance overhead..

[2017-09-25 12:29] hannesa2 commented on #10
@karmil32 which was your previous version, where it works properly ?
@HendraAnggrian almost not noteworthy, but I like to see when on this issue a progres will be done

[2017-09-25 12:34] karmil32 commented on #10
Currently using ''com.hendraanggrian:collapsingtoolbarlayout-subtitle:0.5.2@aar' and all is ok

[2017-09-25 12:44] hannesa2 commented on #10
@karmil32 for your info, right now I checked out commit 14c5b08ea1f (before kotlin in lib, means one commit after v 0.7.0) and all is fine

[2017-09-25 16:04] hannesa2 opened #12 "supportActionBar and setDisplayHomeAsUpEnabled(true)"
When I use collapsingtoolbarlayout-subtitle 0.8.0 and update to Android O and with

`supportActionBar?.setDisplayHomeAsUpEnabled(true)`

it doesn't looks nice

![image](https://user-images.githubusercontent.com/3314607/30817992-a503aeda-a21a-11e7-8747-6df5bbe6fdbf.png)
or
![image](https://user-images.githubusercontent.com/3314607/30818374-a950b464-a21b-11e7-9991-c60e822af0a9.png)
you can follow ht

[2017-09-25 16:06] hannesa2 opened #13 "Android 0"
because of https://github.com/HendraAnggrian/collapsingtoolbarlayout-subtitle/issues/12 I revert to using lib 0.7.0 but here it can't be used with supportLib 26.1.0

[2017-09-25 16:08] hannesa2 commented on #10
@karmil32 when I uses 0.7.0 I can't use supportLib 26.1.0 https://github.com/HendraAnggrian/collapsingtoolbarlayout-subtitle/issues/13

[2017-09-28 09:27] Greg222777 opened #14 "Multiline title"
Hello,

I really love this library but a multilines title feature would make it perfect.

The title length is very limited on small devices, with the default text size it can only be 11 characters long on a 3.7" Nexus One, so the rest of the String is replaced by "..." for both collapsed and regular mode.  I'd like a multilines mode for regular mode, that goes back to single line for collapsed mod

[2017-10-06 22:40] HendraAnggrian commented on #10
@karmil32 @hannesa2 sorry it took months for me to fix this issue, I was preoccupied with other projects.

Version 26.1.0 is out and it should fix this issue. This lib now has the same versioning as support lib since there is no future development planned with this lib, only patches that will allow it to work on future support lib version.

[2017-10-06 22:40] #10 closed

[2017-10-06 23:06] HendraAnggrian commented on #13
Should be fixed with version 26.1.0, as stated in attached issue. Don't hesitate to reopen this issue if you encounter any problem with this version.

[2017-10-06 23:06] #13 closed

[2017-10-06 23:07] HendraAnggrian commented on #12
Should be fixed with version 26.1.0 as stated on attached issue. Although I haven't tested that navigation icon. Please try version 26.1.0 and let me know it still hasn't been fixed.

[2017-10-06 23:07] #12 closed

[2017-10-07 05:47] hannesa2 commented on #12
works like a charm. Thank you !

[2017-10-07 12:08] HendraAnggrian commented on #14
Although it might sound like a good idea, I'm not so sure if such feature still comply with material design guideline. I'll keep this issue open for a while for future reconsideration and others' input.

[2017-10-30 14:04] MeinLieberScholli opened #15 "collapse Toolbar programmatically"
Hi,

it would be great if you could provide a function to collapse the toolbar programmatically.
Or is a workaround with the existing functions possible?

Cheers.

[2017-10-30 15:34] HendraAnggrian commented on #15
I haven't tried it, but I imagine there is a function to hide or show AppBarLayout, which should be a direct parent of CollapsingToolbarLayout. Would you mind trying it? I'm sorry I couldn't help much I'm driving.

[2017-10-30 20:56] MeinLieberScholli commented on #15
You are right. Thanks for the help^^

[2017-10-30 20:56] #15 closed

[2017-11-23 09:34] DanteAndroid opened #16 "Can't use dependency"
![image](https://user-images.githubusercontent.com/10005563/33166232-7e14297a-d074-11e7-94d5-f1c908cb6320.png)
Sorry for dumb question

[2017-11-29 01:08] hendraanggrian commented on #16
@DanteAndroid May I see your Gradle files?

[2017-11-29 01:10] DanteAndroid commented on #16
[code]

[2017-12-06 11:57] giaur500 opened #17 "Ability to adjust spacing between title and subtitle in expanded mode"
Hi, is it possible to adjust spacing between title and subitle labels in expanded mode? I need a bit more squeezed view (because my appbar is much smaller than your example shows), but I can't find any way to adjust spacing.

Can you add attribute to do that (if it's not there yet)

[2017-12-07 04:36] hendraanggrian commented on #11
Hi Tim! My bad I somehow missed this issue. During the time I didn't notice this issue, I fell more and more in love with Kotlin, and I'm under the impression that it is completely compatible with Java-only projects. Moreover, Realm is doing an amazing [report](https://realm.io/realm-report/) that concludes Kotlin are already amount to 20% of all Android apps.

But I do understand almost 1MB that

[2017-12-07 04:39] hendraanggrian commented on #16
@DanteAndroid Sorry for late reply. Since you are using support version 26.1.0, you should use the same version for this library. There is no future development planned, only bug fixing/adjusting to newer support version. That is why I decided to use the same versioning as support version.

[2017-12-07 04:41] #16 closed

[2017-12-07 05:30] hendraanggrian commented on #17
Hi @giaur500, welcome to GitHub! You're right, it isn't customizable at this moment. I'll add this feature in coming days (if not weeks). In the meantime, you might want to try smaller title style/size. Since currently, the spacing are determined by how large the title is.

[2017-12-07 08:21] giaur500 commented on #17
Hi @hendraanggrian thanks for quick reply. Regards.

[2017-12-07 08:31] giaur500 commented on #11
@timusus I used recent version in my Java project without any problems. Kotlin and Java (as far as I know) can be mixed without any restrictions, also if you used lib dependency, it you don't even need to know if lib is Kotlin or Java, it does not matter at all.

[2017-12-07 08:39] timusus commented on #11
The problem is that a Kotlin based library requires you to integrate Kotlin into your build, which increases your method count and apk size. It's a lot of overhead if the project is otherwise Kotlin-free.

I love Kotlin and I've used it for many projects, but I'd rather a library remain in Java so I can use it in Kotlin or Java projects, rather than have it converted to Kotlin forcing consumers to

[2017-12-07 08:59] giaur500 commented on #11
Well, it's true. Kotlin libs must be embedded in resulting apk. But it seems it affects apk size only, not app performance.

[2017-12-07 09:46] timusus commented on #11
I'm not suggesting there is a performance impact. I'm just questioning why this Java library was converted to Kotlin, preventing consumers from deciding whether their project should incorporate Kotlin, when there's not much to be gained from the Kotlin conversion, and it makes maintenance more difficult in some ways.

[2017-12-07 10:22] giaur500 commented on #11
Well, I guess dev likes Kotlin, it's nothing wrong. You can always convert it back to Java if you wish (you have full sources). Or develop your own library. Complains are out of place when somebody decides to share his work for free for everyone.

[2017-12-07 10:53] timusus commented on #11
I think you misunderstand.This is not a complaint, but rather a discussion.

I appreciate the work done by the owner of this repository. I contributed to it myself in its early stages.

I think it's bad library design to force adoption of an alternative language for no real gain - as I said, this library needs to be ported from the support libraries to be kept up to date. If anything, Kotlin conve

[2017-12-08 04:38] hendraanggrian commented on #11
I completely agree: there isn't a good answer to why this lib should use Kotlin. I was selfishly using it as a testbed since I'm still pretty new to Kotlin.

But to be fair, it wasn't all a bad call. It did reduce the codebase about 20-30%, it isn't worth extra dependency (not to mention some lint checks are also broken), but it is worth mentioning that less code makes easy reading.

I plan to rev

[2018-01-30 11:49] basmasrour opened #18 "cannot find symbol method makeRestartActivityTask(ComponentName)"
Hi all:
after compile collapsingtoolbarlayout-subtitle, can't build project for this error:
Error:(155, 53) error: cannot find symbol method makeRestartActivityTask(ComponentName)
IntentCompat.makeRestartActivityTask(cn) : cn is :ComponentName cn = intent.getComponent();

Is there any conflict reason?

[2018-02-17 05:12] sweta01 opened #19 "Getting Class not found exception"
Landroid/support/v4/math/MathUtils

 java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/math/MathUtils;
                                                                 at android.support.design.widget.SubtitleCollapsingToolbarLayout$OffsetUpdateListener.onOffsetChanged(SubtitleCollapsingToolbarLayout.kt:672)
                                                                 a

[2018-02-18 22:29] hendraanggrian commented on #19
What version of support library are you using?

[2018-02-19 12:59] sweta01 commented on #19
Now resolved

On 19 Feb 2018 3:59 a.m., "Hendra Anggrian" <notifications@github.com>
wrote:

[2018-02-21 17:04] hendraanggrian commented on #19
Great!

[2018-02-21 17:04] #19 closed

[2018-02-23 07:05] sweta01 commented on #19
The library is good.

[2018-03-03 14:54] AkshayChordiya opened #20 "Caused by: java.lang.ClassNotFoundException: Didn't find class "android.support.design.widget.ViewGroupUtils" on path: DexPathList"
Upgrading to Design Support Library v27.1.0 started to cause this issue.

[2018-03-04 20:00] VGJohn opened #21 "Add support for 27.1.0?"

[2018-03-05 05:03] hendraanggrian commented on #20
Try importing this library with design library excluded. If it's still not working I will patch the current version 27.1.0.

[2018-03-05 05:04] hendraanggrian commented on #21
I'm sorry I haven't paid much attention to this library lately, see #20 and inform me back.

[2018-03-05 05:26] AkshayChordiya commented on #20
I tried this but it didn't work out:
[code]

[2018-03-10 13:12] IanWambai commented on #20
@hendraanggrian Having this same issue. How about removing the whole support library version thing? Seems like you'll have to make a patch every time there's an update to the support library.

[2018-03-10 13:19] hendraanggrian commented on #20
@IanWambai yes that is the main drawback of using a library that is based on internal component of support library. And to be honest, I'm currently in the middle of something and don't know when can I patch this library to the latest support library. I'm so sorry.

[2018-03-10 13:26] IanWambai commented on #20
That's alright. I'll try find some other way for now. Will check back later.

[2018-03-11 08:11] hendraanggrian commented on #20
Hi guys, I have just patched version 27.1.0 to this library. I'm sorry it took so long, I had to also patch [errorbar](https://github.com/hendraanggrian/errorbar) since it is used in testing of this library.

Please try it and let me know how it goes.

[2018-03-11 08:12] hendraanggrian commented on #21
See #20 for latest update.

[2018-03-11 08:12] #21 closed

[2018-03-11 08:13] hendraanggrian commented on #18
Difficult to know without complete stack trace. Try the latest version 27.1.0 and if you still have that error, post the full stack trace here.

[2018-03-11 09:15] IanWambai commented on #20
Works perfectly. Thanks!

[2018-03-11 09:28] AkshayChordiya commented on #20
It works. Thanks @hendraanggrian for patching.

[2018-03-11 09:28] #20 closed

[2018-03-11 09:37] hendraanggrian commented on #20
Glad to know! See you on the next support version.

[2018-03-12 10:48] devjn opened #22 "Support for androidx 1.0.0"
There are a lot of changes in upcoming revision of support library. The major change is that now coordinatorlayout is a separate module and a lot of internals are now changed.

[2018-03-12 11:30] hendraanggrian commented on #22
I will most likely patch it to 28.0.0 when stable version is released, now it's only alpha.

By separate module, do you mean that `CoordinatorLayout` no longer belong in support design library? The internals are always changing every version, it's nothing to worry about.

[2018-03-12 11:37] devjn commented on #22
Yes, from developer.android.com:
We have split parts of support-core-ui, support-core-utils, and support-compat into smaller libraries. This change will help us detangle support library dependencies in the future. We now have the following new libraries:
coordinatorlayout (from design)

[2018-03-12 11:42] hendraanggrian commented on #22
Thanks for the news.

In that case, I need to read every line of `CollapsingToolbarLayout` source and resources to find out if this library should also import that new `CoordinatorLayout` library in the future. I will do it when it enters beta/stable. In the meantime, let's keep this issue open.

[2018-04-03 21:23] schott12521 opened #23 "Issues with Navigation Drawer"
Using this library, my toolbar will hide the navigation drawer hamburger icon when the toolbar is collapsed. Unsure of what could be causing this.

[2018-04-03 21:41] hendraanggrian commented on #23
I have some guesses, but it's difficult to pick one without knowing more:
 1. Are you using action toggle from support v7 library?
 2. Are you absolutely sure that such behavior does not appear if you replace `SubtitleCollapsingToolbarLayout` with regular `CollapsingToolbarLayout`?
 3. Your phone/emulator OS version and support library version you're using.

[2018-04-03 21:45] schott12521 commented on #23
Sure thing, thanks for the quick response!

1. I am using action toggle, specifically: ActionBarDrawerToggle
2. Correct, when using a regular CollapsingToolbarLayout the hamburger icon persisted in the upper left of the action bar regardless or collapsed or expanded state.
3. I am on an OG Pixel XL with Oreo 8.1 and using 27.1.0 support library version

[2018-04-03 21:57] hendraanggrian commented on #23
1. The thing is, there's 2 versions of `ActionBarDrawerToggle`, one from `android.support.v4.app` and another from `android.support.v7.app`. Which one are you using?
2. If you replace it with regular back arrow icon (`?homeAsUp` attribute). Does the back arrow still behaves the same way? Just wanna make sure if the issue is related to action bar toggle at all.

[2018-04-03 22:01] schott12521 commented on #23
1. I'm using `android.support.v7.app.ActionBarDrawerToggle`
2. Yes, the same issue happens with just homeAsUp Enabled as well

[2018-04-03 22:24] schott12521 commented on #23
Alright sounds great, let me know if I can be of any assistance. The only thing that might help so far is that I was looking at the Debug Overdraw screen and with the normal Collapsing Layout, the title warps from being a box of the full width of the device, to just the width of the text. That does not happen with the Subtitle Collapsing Layout, so maybe we need to change the width? Thank you!

[2018-04-08 16:12] hendraanggrian commented on #23
Hi, I've tested example app with back icon (`homeAsUpIndicator`) enabled:

![screenshot_1523203661](https://user-images.githubusercontent.com/11507430/38469629-19ea3060-3b82-11e8-820f-455c3c66cdcb.png)
![screenshot_1523203667](https://user-images.githubusercontent.com/11507430/38469630-1a1d3b7c-3b82-11e8-9900-86a750c3e31e.png)

Safe to say I am unable to recreate the issue you are experiencing. Co

[2018-04-09 12:05] anaufalm opened #24 "Propose app logo"
Hello, Im flat raphic designer. I want to propose a logo for branding your project. Can I make a logo for you?

[2018-04-09 12:30] hendraanggrian commented on #24
Hi, yes you very well may. But since this is an open-source project and I do not intend to commercialize it in any way, I'm afraid I can't pay for your work.

I can credit you in readme file and project website (which currently is only javadoc), but that's about all.

[2018-04-09 12:46] anaufalm commented on #24
This is open source right? We can contribute anything. :D
I will make it for free for you. If you like you can put my name as a contributor in readme or other.

[2018-04-09 13:03] hendraanggrian commented on #24
Yes, and any work you do here may be modified or reused by others in the community. If you can accept that I will gladly accept your contribution. :)

I suggest you create a pull request, as doing so will make your name appear on contributor list.

[2018-04-10 17:33] schott12521 commented on #23
Sure! Here is my expanded view: [Expanded](https://imgur.com/a/2UqHK)

and here is my collapsed: [Collapsed](https://imgur.com/a/cnNFf)

I'm not doing anything special with my subtitle collapsing layout, its more or less a standard / out of the box setup. Pixel OG, Android 8.1.0 latest security patch. I will try to get a video of collapsing and what it looks like so maybe we can use that to bug fi

[2018-04-10 22:27] schott12521 commented on #23
Damn. Its the little things that can really mess up your development, lol. My issue was that I was setting:

`android:paddingBottom="50dp"`

which was hiding the icon. Thanks for all of the assistance / great library!

[2018-04-10 22:27] #23 closed

[2018-05-09 17:33] devjn commented on #22
As it was announced yesterday, big [refactor of support library](https://developer.android.com/topic/libraries/support-library/refactor) is coming, so I renamed the issue.

[2018-05-09 22:48] hendraanggrian commented on #22
I'm sorry you might have to fill me up on this, I haven't been listening to Android news. What is `androidx 1.0.0`? Is it in any way related to [android-ktx](https://github.com/android/android-ktx)?

[2018-05-09 22:56] hendraanggrian commented on #22
Nice to know! Here's what I wonder: should we also change versioning of this library back to 1.0.0?

[2018-05-27 04:33] hendraanggrian commented on #24
Sorry for late reply. As much as I would like to use your work, I probably I shouldn't. The icon doesn't resemble the word collapsing, layout, or subtitle. But I do appreciate material design touch there, and just wondering if you could revise it with a model that is more related to current project.

[2018-05-27 04:39] hendraanggrian commented on #23
Cool! Let me know when you experience other issues.

[2018-05-27 04:45] hendraanggrian commented on #22
I think so too. May I ask for a favor to update this thread once the new support library is stable? I could get a head start on this one, new update looks like a big one.

[2018-05-28 10:10] anaufalm commented on #24
Logotype is just a option, the primary logo is the logomark. Ok, I'will make another design for you.

[2018-06-10 18:58] MikaelMorales opened #25 "expandedSubtitleTextAppearance bug with shadows"
Hi,

Adding shadows around the subtitle when it is expanded using:
`app:expandedSubtitleTextAppearance="@style/CollapsingToolbarShadow"`

with the simple following style doesn't work:
[code]
The shadows are not visible on the subtitle, but the same style works with the title.

[2018-06-13 08:46] hendraanggrian commented on #25
Hi @MikaelMorales, since I have no experience whatsoever with shadowing, may I see screenshots of expected and actual result of that code snippet?

[2018-06-13 13:59] MikaelMorales commented on #25
Yes sure, you can see the difference between the tile with shadows and the subtitle where there are not shown below.
As you can see, shadows are a good way to improve readability in case the background picture is not known apriori.
![collapsingtoolbar](https://user-images.githubusercontent.com/13578763/41355679-62e52206-6f22-11e8-93c0-141454502db2.jpg)

[2018-06-13 14:40] hendraanggrian commented on #25
I can see your point. I'll check why such behavior is only appearing on title. If it is quickly fixable, it'll fit with 27.1.1 patch.

Thanks for your contribution!

[2018-06-20 23:00] schott12521 opened #26 "Caused by: java.lang.ClassNotFoundException: Didn't find class "android.support.design.widget.ThemeUtils" on path: DexPathList"
Seems like its time again to update this to the newest support version, but I think you said elsewhere that you are waiting for support v28 to become stable? Anyway I get this error while trying to use v28, "Caused by: java.lang.ClassNotFoundException: Didn't find class "android.support.design.widget.ThemeUtils" on path: DexPathList"

Thanks for the great library! Note: Excluding the support libra

[2018-06-21 00:08] hendraanggrian commented on #26
Thanks for going deep as to create a modified local duplicate and report what went wrong. I would suspect that `android.support.design.widget.ThemeUtils` are removed in support library version 28. But since `ThemeUtils` are only used for appcompat theme assertion, it is completely fine to remove the line (assuming that your app theme is indeed appcompat).

As to full support to version 28, as ment

[2018-06-21 00:08] #26 closed

[2018-07-07 11:31] devjn commented on #22
version 1.0.0-beta01of AndroidX was recently released and is stated to be feature-complete and its public API surface is stable. Also it is safe to use in production.

[2018-07-07 11:55] hendraanggrian commented on #22
What is your source of that information? I don't see new beta build [here](https://developer.android.com/topic/libraries/support-library/revisions).

[2018-07-07 11:55] devjn commented on #22
https://developer.android.com/topic/libraries/support-library/androidx-rn#1.0.0b01

[2018-07-08 17:04] xzeno opened #27 "Set subtitle programmatically"
How can I change subtitle programmatically?
I tried
`getSupportActionBar().setSubtitle("text");`
but it did not work

[2018-07-15 00:13] hendraanggrian commented on #22
`1.0.0-beta01` is released as the first AndroidX patch. It is hosted under new repository and artifact: `com.hendraanggrian.material:subtitlecollapsingtoolbarlayout:1.0.0-beta01`. Thanks for the heads up and see you on next version updates.

[2018-07-15 00:13] #22 closed

[2018-07-15 00:17] hendraanggrian commented on #25
Hi @MikaelMorales , version `1.0.0-beta01` should fix this issue (but you need to use AndroidX). Feel free to reopen this issue if you find out that it isn't fixed.

[2018-07-15 00:17] #25 closed

[2018-07-15 00:19] hendraanggrian commented on #11
Hi @timusus , version `1.0.0-beta01` with AndroidX has just been released without Kotlin in it.

[2018-07-15 00:19] #11 closed

[2018-07-16 04:18] whalemare opened #28 "Legacy artifact not resolved"
[code]

is not worked, please fix it.
And by your code, i should use version of subtitle-library equals support-design?

[2018-07-16 04:21] whalemare commented on #28
Hm, really, okay. Need use version equal app-compat dependencies.

[2018-07-16 04:21] #28 closed

[2018-07-16 04:34] hendraanggrian commented on #27
Hi @xzeno, sorry for late reply. When you invoke `getSupportActionBar().setSubtitle("text");`, you are changing the subtitle of `Toolbar`, which is overridden by subtitle of `SubtitleCollapsingToolbarLayout`.

Therefore, you need to invoke `subtitleCollapsingToolbarLayout.setSubtitle("text");` instead.

[2018-07-16 04:34] #27 closed

[2018-08-25 06:24] kalyandechiraju opened #29 "Is there any way to show subtitle only in collapsed mode and not in expanded mode?"

[2018-08-25 07:08] hendraanggrian commented on #29
Of course there is a way to do that, it just haven't been implemented yet.

[2018-11-09 10:34] CHRehan opened #31 "On Support Library version its not working"

[2018-11-09 10:35] CHRehan commented on #31
On support library version 280.0  its not working i check it both to set 27.1.1 and 28.0.0

[2018-11-13 00:18] hendraanggrian commented on #31
As far as I can remember, one of the last legacy artifact released is 27.1.1 `com.hendraanggrian:collapsingtoolbaryout-subttitle:27.1.1`. Please describe more about the error.

[2018-11-15 06:47] CHRehan commented on #31
My Support Library version in 28.0.0 and subtitle collapsing toolbar is 27.1.1 i got an error after app compiled,
PID: 12226
    java.lang.RuntimeException: Unable to start activity ComponentInfo{}: android.view.InflateException: Binary XML file line #21: Binary XML file line #21: Error inflating class android.support.design.widget.SubtitleCollapsingToolbarLayout
        at android.app.ActivityThr

[2018-11-16 06:29] hendraanggrian commented on #31
You have to use matching support/AndroidX version as `collapsingtoolbarlayout-subtitle` version. Unfortunately, I did not release legacy support version 28.0.0, you have to adopt AndroidX and use newer artifact `com.hendraanggrian.material:collapsingtoolbarlayout-subtitle: 28.0.0`.

See demo app for example.

[2019-01-25 05:51] gupta-shubham-im commented on #31
I am facing the same issue, AndroidX is still not production ready, I can't use AndroidX as of yet but migrated my app to 28.0.0 Support Library version

[2019-01-25 06:41] hendraanggrian commented on #31
I am considering adding support to support library 28. Will update when I have more information.

[2019-01-28 09:39] jarvisv4 opened #32 "Title and subtitle display issue."
Hello , I just integrated your library and it works perfect, except of one issue. The title and subtitle are not getting left padding as required, they just stick to start of screen which looks just ugly. Can you tell me what am I missing here?

[2019-01-28 11:13] akshattailang commented on #31
Any update on release to support library 28?

[2019-01-29 03:37] hendraanggrian commented on #32
May I see a screenshot please? Also, Android version and phone/emulator model.

[2019-01-29 04:56] jarvisv4 commented on #32
Hello @hendraanggrian ,thanks for your reply.I just found a fix to it by adding "expandedTitleMarginStart" , but by using this animation starts from that point which results in title and subtitle gets placed far from back button at end of collapsing. I need it to animate only after reaching a percentage height while collapsing. How can I do that?

[2019-02-12 13:59] JulianBissekkou commented on #31
Any updates?

[2019-02-13 11:12] bhaskardonadapti5 commented on #31
Any update on this ?

[2019-02-20 14:02] hendraanggrian commented on #31
Here's an update: I can't seem to find `design` source code in latest [support library](https://github.com/aosp-mirror/platform_frameworks_support/tree/pie-release). And I have no way of mirroring how the actual collapsing toolbar layout works if I have no access to the source code.

[2019-03-05 06:43] Erfans3 opened #33 "No collapsedTitleMargin"
Hi. Thanks for this awesome library.
There is just one thing I need which is lacking and that is although it has expandedTitleMargin but there is no collapsedTitleMargin only gravity. I am using a rtl language and I want to show a profile picture on the right of the toolbar and I want the title and subtitle to have Right margin so they don't go behind the picture. I tried setting the toolbar title

[2019-03-05 07:27] gupta-shubham-im commented on #31
Hi @hendraanggrian
Source code for `CollapsingTextHelper`
`//
// Source code recreated from a .class file by IntelliJ IDEA
// (powered by Fernflower decompiler)
//

package android.support.design.widget;

import android.animation.TimeInterpolator;
import android.content.res.ColorStateList;
import android.content.res.TypedArray;
import android.graphics.Bitmap;
import android.graphics.Canvas;
import

[2019-03-05 09:39] Erfans3 commented on #17
Hi. Hasn't this feature been added yet?

[2019-03-06 03:37] hendraanggrian commented on #31
Hi @gupta-shubham-im, may I know where did you get these? I'm just making sure they are indeed from support library 28.0.0.

[2019-03-06 04:53] gupta-shubham-im commented on #31
Actually these are decompiled classes from Android Studio, I have an existing project which has design support library version 28.0.0, so got it from there

[2019-03-07 08:41] hendraanggrian commented on #31
Sorry I didn't review the code when I replied. I can't use decompiled classes because I couldn't see some of the generated resources ids, as they appear as integers.

[2019-03-10 12:56] gupta-shubham-im commented on #31
Hi let me know what all resources are not available, I'll try and find out their actual values

[2019-03-12 11:01] hendraanggrian commented on #31
There's just so many of them I don't know where to start. I will wait until the sources of support library 28 is available.

In the meantime, if you really can't wait, you can just have a copy of branch `support` in your project.

[2019-03-29 12:06] stepenik opened #34 "Sometimes subtitle is not showed in collapsed state in toolbar"
Hi,
Thanks for awesome library.

Here is my code.

[code]

When I scroll down, sometimes I see only title in toolbar, but sometimes I see title and subtitle in toolbar in collapsed mode.

Do you know what is wrong in code or this is known bug in library ?

Thanks.

[2019-04-01 11:35] hendraanggrian commented on #34
Can you share some kind of screenshot/screen record that outlines these kinds of behavior?

[2019-05-09 20:10] facundomr commented on #26
Hi @hendraanggrian, how can I find the 27.1.1 version code in order to modify that line?

[2019-05-12 13:37] Alexinfos commented on #31
Any updates?

[2019-05-16 12:25] AmjadAlwareh25 commented on #18
Just replace "IntentCompat" with "Intent"
 Intent.makeRestartActivityTask(cn);

[2019-06-08 05:06] hendraanggrian commented on #31
![Screen Shot 2019-06-07 at 1 59 32 AM](https://user-images.githubusercontent.com/11507430/59142264-1460e300-89c4-11e9-83e1-8fa8cf486613.png)

I don't know where I went wrong, sources of support 28 still isn't available to me.

[2019-06-11 04:32] gupta-shubham-im commented on #31
Hi @hendraanggrian , why don't you take the source code of your currently library and just replace the androidx package imports with the Android support package imports, it should work for 28.0.0 version

[2019-09-04 21:17] HolySamosa commented on #31
Anyone tried @gupta-shubham-im 's solution?  I'm stuck with between this library not supporting 28 and other 3rd party libraries not supporting AndroidX.  v28 support for this library seems to be the most viable path to getting my app working again...

[2020-01-16 08:03] ArcherEmiya05 commented on #14
Yes it is definitely the recommended way.

https://material.io/components/app-bars-top/#anatomy

[2020-01-28 16:08] adhirajsinghchauhan commented on #14
Bump. No progress yet? @hendraanggrian if you need help in developing, let us know. We'll open up a PR

[2020-03-30 11:54] willezs opened #35 "New release planned for version 1.1.0 of material ?"
Hi,
Is a new release planned for the version 1.1.0 of material ?
Thanks

[2020-03-30 12:06] hendraanggrian commented on #35
Yes, thanks for bringing it to my attention. I've skipped many beta and alpha versions just for this one.

[2020-04-17 00:10] hendraanggrian commented on #32
A

[2020-04-17 00:12] hendraanggrian commented on #32
It is technically possible to alter animation, but I feel like it should animate the way CollapsingToolbarLayout works.

[2020-04-17 00:12] #32 closed

[2020-04-17 00:14] hendraanggrian commented on #31
I can confirm the `support` branch has a working copy of this library in legacy 28.0.0. I have not uploaded it only because I haven't seen the code myself, and it's hard to fully test without them.

[2020-04-17 00:18] #18 closed

[2020-04-17 00:34] hendraanggrian commented on #14
Thanks for checking out this library, I am so sorry for late reply. A multiline subtitle is definitely not in the realm of impossibility here.

In fact, I bet it looks nice while the toolbar is expanded. But as you swipe to collapse, those lines of text will have to be flattened to one line. The problem is: the animation needed to achieve such behavior will be extremely different than the animatio

[2020-04-17 00:36] #7 closed

[2020-04-21 12:01] hendraanggrian commented on #35
Version 1.1.0 has been uploaded.

[2020-04-21 12:01] #35 closed

[2020-06-01 10:16] rezazarchi opened #36 "support navigation component"
we can not use this library with navigation component.
in _setupWithNavController_ method explained in [this link](https://developer.android.com/guide/navigation/navigation-ui#include_collapsingtoolbarlayout), we need CollapsingToolbarLayout object.

[2020-10-03 15:11] ArcherEmiya05 commented on #25
Have you try this style on Android M SDK (23). It's not working though, but works fine on Android 10.

[2020-11-25 07:51] abhi-9605 opened #37 "Need subtitle click listener"

[2021-02-10 06:15] jpyo0613 opened #38 "Navigation icon in toolbar -> title gravity issue"
fix please (T-T)

https://user-images.githubusercontent.com/33045561/107472698-c184f900-6bb2-11eb-9606-731ad9b451be.mp4

[2021-03-17 12:51] ArcherEmiya05 commented on #5
Is there a solution now?

[2021-06-08 21:24] hendraanggrian commented on #5
@ArcherEmiya05 Yes I believe ellipsize is working now. Comment this thread again if you can't get it to work.

[2021-08-11 09:38] leviancode opened #39 "Migrate to mavenCentral"
Hello! Are there any plans to migrate from deprecated jcenter() to mavenCentral() ? Thanks!

[2021-08-12 14:28] hendraanggrian commented on #39
Hi there, yes eventually this library will move to maven central. I will need to migrate my other libraries first, check back in a week or so.

[2021-08-12 15:19] #39 closed

[2021-08-20 18:57] hendraanggrian commented on #39
The library has been migrated to maven central, but at the moment only on [Sonatype's snapshots repository](https://s01.oss.sonatype.org/content/repositories/snapshots).

Use version `1.3.0-SNAPSHOT`.

[2022-02-22 13:42] cleberpublitz opened #40 "Error inflating class com.google.android.material.appbar.SubtitleCollapsingToolbarLayout"
[code]

[code]

[2022-03-11 08:30] baole commented on #40
It's because the material library v1.5.0 changed its API. I created a PR https://github.com/hendraanggrian/collapsingtoolbarlayout-subtitle/pull/41 to fix it.

@hendraanggrian could you have a look?

[2022-04-15 11:30] asuraphel commented on #40
@baole Thanks for the PR. Run into the same issue. How are you working around it at the moment? Thanks!

[2022-06-20 08:54] ArthurCowboy commented on #40
@hendraanggrian could you have a look at @baole's PR please 🙏

[2022-06-20 08:59] hendraanggrian commented on #40
I will tonight. I'm sorry I wasn't here more often, I truly am.

[2022-06-20 09:04] ArthurCowboy commented on #40
Thanks a lot @hendraanggrian 🔥

[2022-06-21 19:51] hendraanggrian commented on #40
It's taking longer than what was expected because I intend to release every major material versions.

I have published non-snapshot version 1.1.0, now I'm working on 1.2.0.

[2022-06-21 19:59] asuraphel commented on #40
@hendraanggrian thanks for the library. I think it's best to work backwards from the latest version. We had to move away from your library because another library required the latest material version and I think that's what most developers are on at this time.

[2022-06-26 19:02] hendraanggrian commented on #40
I'm sorry to disappoint,  but growing the version incrementally allow me to implement features it is supposed to inherit.

Like for instance with version 1.2.0, multilining title and subtitle now works.

[2022-07-01 19:52] hendraanggrian commented on #40
Version `1.5.0-SNAPSHOT` has been released. I will also publish the release version soon. I'll be glad if you guys can try it first and see what am I missing in this version.

[2022-07-02 14:24] asuraphel commented on #40
@hendraanggrian Thanks!

[2022-07-02 14:44] ArthurCowboy commented on #40
@hendraanggrian keep me posted when you release the 1.5.0, gradle doesn't seems to find the snapshot on my side :/

[2022-07-03 00:17] hendraanggrian commented on #40
Version 1.5.0 has been released with everything working but Material3 styling. By the time I realized it was missing, the package has already been published.

It will instead be implemented in version 1.6.0.

[2022-07-03 15:24] ArthurCowboy commented on #40
Thanks!

[2022-07-12 00:17] IDMCI commented on #40
I'm seeing a similar inflate crash in `1.5.0` around `setExpandedTextAppearance()` in `CollapsingTextHelper2`. It looks like the `getTextColor()` method has been removed from `TextAppearance` causing the crash. Will this be fixed in `1.6.0` as well?

[code]

[2022-07-12 20:29] hendraanggrian commented on #40
@IDMCI I find this rather odd since `TextAppearance#getTextColor()` is present in material `1.5.0` and `1.6.0`. It is called in `CollapsingTextHelper`, and therefore `CollapsingTextHelper2` too. Can you state material version you are on?

The [snapshot of version 1.6.0](https://s01.oss.sonatype.org/content/repositories/snapshots/com/hendraanggrian/material/collapsingtoolbarlayout-subtitle/1.6.0-SN

[2022-07-12 20:34] hendraanggrian commented on #38
I'm afraid this behavior is also present on `CollapsingToolbarLayout`.

[2022-07-12 20:34] #38 closed

[2022-07-12 20:36] hendraanggrian commented on #37
I don't believe this is a good idea since the title and subtitle itself are not a `View`. Instead, you can make the whole `SubtitleCollapsingToolbarLayout` clickable.

[2022-07-12 20:36] #37 closed

[2022-07-12 20:43] hendraanggrian commented on #34
Closed for inactivity.

[2022-07-12 20:43] #34 closed

[2022-07-12 20:45] hendraanggrian commented on #33
Though possible, I am reluctant to include this feature because `CollapsingToolbarLayout` also does not have `collapsedTitleMargin`.

[2022-07-12 20:47] #29 closed

[2022-07-12 20:48] hendraanggrian commented on #24
Closed for inactivity.

[2022-07-12 20:48] #24 closed

[2022-07-12 20:51] hendraanggrian commented on #14
Since version `1.2.0`, multiline title is supported by `CollapsingToolbarLayout`, and therefore `SubtitleCollapsingToolbarLayout` too.

[2022-07-14 21:20] IDMCI commented on #40
@hendraanggrian That was it! Thank you soooo much! I thought it was strange that method just disappeared, lol. Turns out we had held back on updating `material` because of another issue that's since been resolved. So now everything works!

[2022-07-17 07:57] the-future-warrior commented on #17
Hasn't this feature been added yet?